:root {

  /* Red = 0 , Yellow = 60, Green = 120, Cyan = 180 , Blue = 240 , Magenta = 300 */
  --base: 209;

  --principalColor: hsl(var(--base), 61%, 13%);
  --principalColorLight: hsl(var(--base), 90%, 60%);
  --principalColorDark: hsl(var(--base), 91%, 35%);
  --principalColorDarkHover: hsl(var(--base), 91%, 25%);
  --white: hsl(var(--base), 0%, 100%);
  --gray-light: hsl(var(--base), 0%, 96%);
  --gray: hsl(var(--base), 20%, 65%);
  --gray-dark: hsl(var(--base), 16%, 47%);
  --black: hsl(var(--base), 0%, 0%);
  --font-principal: 'Roboto Mono', sans-serif;

  --errorColor: #ff7b7b;
}

body {
  background-color: var(--principalColor);
}
